
@media screen and (min-width: 600px) {

.card-w{
    margin: 0 auto;
    padding: 5px;
}
}
.card-color {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    color: lightgrey !important;
}
.btn-tools {
    background-color: #FFF;
    border: 0px;
    color: rgb(100, 98, 98);
    margin: 5px;
    padding-top: 5px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    box-shadow: 0px 2px 6px gray;


    &:hover {
        box-shadow: 0px 0 0 0 #FFF, 0px 0 0 10px var(--accent);
    }

    &:active {
        box-shadow: 0px 0 0 3px #FFF, 0px 0 0 10px var(--primary);
        background-color: #FFF;

    }

    &:focus {
        background-color: #FFF;
        outline: none;
    }

}